__pycache__/
*.pyc
.git/
.gitignore
.ipynb_checkpoints/
*.ipynb
data/
dataset/
*.csv
notebooks/
Lib/
Include/
Scripts/
share/
etc/
frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo
compressed/
commit_msg.txt
