Lib/
Scripts/
Include/
share/
etc/
pyvenv.cfg
__pycache__/
*.pyc
.ipynb_checkpoints/
*.ipynb
data/
dataset/
*.csv
compressed/
model/*
!model/.gitkeep
node_modules/
frontend/node_modules/
frontend/dist/
frontend/*.tsbuildinfo
.env
